* { box-sizing: border-box; margin: 0;}
main, aside { display: contents; }
h2 { font-size: 1.4em; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333; 
    color: #000;
    line-height: 1.5;
    padding: 40px 20px;
}
body > div {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 35% 65%; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #000;
    color: #fff;
    padding: 50px 40px;
}
header h1 {
    font-size: 3em;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
header p { font-size: 1.2em; color: #ddd; }

.objective {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 25px 40px;
    border-bottom: 1px dashed #777;
}

.experience{
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    padding: 25px 40px;
}
.experience ol { list-style-type: none; }
.experience li { margin-bottom: 30px; }
.experience h3 { font-size: 1.2em; }
.experience h2 { margin-top: 20px; margin-left: 20px; }
.experience span {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.contact {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #777;
}
.contact > * {
    flex: 1;
    text-align: center;
    padding: 15px 20px;
    color: #000;
    text-decoration: none;
    font-size: 0.95em;
}
.contact > *:not(:last-child) { border-right: 1px dashed #777;}

.about { 
    grid-column: 1 / 2;
    grid-row: 4;
    padding: 25px 30px 25px 40px;
    border-right: 1px dashed #777;
    border-bottom: 1px dashed #777;
}

.education { 
    grid-column: 1 / 2;
    grid-row: 5;
    padding: 25px 30px 25px 40px;
    border-right: 1px dashed #777;
    border-bottom: 1px dashed #777;
}

.skills { 
    grid-column: 1 / 2;
    grid-row: 6;
    padding: 25px 30px 25px 40px;
    border-right: 1px dashed #777;
}
.skills ul { list-style-type: square; padding-left: 20px; }
.skills li { margin-bottom: 5px; font-size: 0.95em; }



